<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyc.mapper.TLogMapper">
    <!-- 缓存 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />
    <resultMap
        id="BaseResultMap"
        type="com.cyc.common.po.TLog">
        <id
            column="id"
            property="id"
            jdbcType="BIGINT" />
        <id
            column="user_Ip"
            property="userIp"
            jdbcType="VARCHAR" />
        <result
            column="user_Name"
            property="userName"
            jdbcType="VARCHAR" />
        <result
            column="user_Nick_Name"
            property="userNickName"
            jdbcType="VARCHAR" />
        <result
            column="user_Address"
            property="userAddress"
            jdbcType="VARCHAR" />
        <result
            column="user_JWD"
            property="userJwd"
            jdbcType="VARCHAR" />
        <result
            column="module"
            property="module"
            jdbcType="VARCHAR" />
        <result
            column="action"
            property="action"
            jdbcType="VARCHAR" />
        <result
            column="action_Time"
            property="actionTime"
            jdbcType="BIGINT" />
        <result
            column="oper_Time"
            property="operTime"
            jdbcType="VARCHAR" />
        <result
            column="count"
            property="count"
            jdbcType="BIGINT" />
        <result
            column="browser_Type"
            property="browserType"
            jdbcType="VARCHAR" />
        <result
            column="user_agent"
            property="userAgent"
            jdbcType="VARCHAR" />
        <result
            column="browser_And_Version"
            property="browserAndVersion"
            jdbcType="VARCHAR" />
        <result
            column="manufacturer"
            property="manufacturer"
            jdbcType="VARCHAR" />
        <result
            column="rendering_Engine"
            property="renderingEngine"
            jdbcType="VARCHAR" />
        <result
            column="sys_Name"
            property="sysName"
            jdbcType="VARCHAR" />
        <result
            column="operating_System"
            property="operatingSystem"
            jdbcType="VARCHAR" />
        <result
            column="sys_Manufacturer"
            property="sysManufacturer"
            jdbcType="VARCHAR" />
        <result
            column="device_Type"
            property="deviceType"
            jdbcType="VARCHAR" />
    </resultMap>
    <!-- 通过ip查询 -->
    <select
        id="selectByUserIp"
        resultMap="BaseResultMap"
        parameterType="String"
        useCache="false">
        select
        *
        from t_log
        where user_Ip =
        #{userIp,jdbcType=VARCHAR} limit 1
    </select>
    <!-- 查询日志分页 -->
    <select
        id="selectLogPages"
        resultMap="BaseResultMap"
        parameterType="com.cyc.common.po.TLog"
        useCache="false">
        SELECT
          a.*, SUM(a.tcount) AS count
        FROM
          (
            SELECT
              id,
              user_Name,
              user_Nick_Name,
              user_Address,
              user_JWD,
              module,
              action,
              action_Time,
              user_Ip,
              browser_Type,
              browser_And_Version,
              manufacturer,
              rendering_Engine,
              sys_Name,
              operating_System,
              sys_Manufacturer,
              device_Type,
              count as tcount,
              oper_Time
            FROM
              t_log
            ORDER BY
              id DESC
            LIMIT 10000000000
          ) a
        GROUP BY
          a.user_Ip
        ORDER BY
          a.id DESC
    </select>
<!--     <select
        id="selectLogPages"
        resultMap="BaseResultMap"
        parameterType="com.cyc.common.po.TLog"
        useCache="false">
        SELECT
        id,
        user_Name,
        user_Nick_Name,
        user_Address,
        user_JWD,
        module,
        action,
        action_Time,
        user_Ip,
        browser_Type,
        browser_And_Version,
        manufacturer,
        rendering_Engine,
        sys_Name,
        operating_System,
        sys_Manufacturer,
        device_Type,
        MAX(oper_Time)
        oper_Time,
        SUM(count) as count
        FROM
        t_log
        GROUP BY user_Ip
        ORDER BY
        oper_Time DESC
    </select> -->
    <!-- 查询日志分页 -->
    <select
        id="selectLogPagesForIp"
        resultMap="BaseResultMap"
        parameterType="string"
        useCache="false">
        select
        *
        from t_log where
        user_Ip=#{userIp,jdbcType=VARCHAR}
        order by id
        DESC
    </select>
    <select
        id="selectLogSumCount"
        resultType="java.lang.Long"
        useCache="false">
        select SUM(count) from t_log
    </select>
    <!-- todayCount -->
    <select
        id="todayCount"
        resultType="com.cyc.common.vo.TodayCountResp" useCache="false">
        SELECT
        count(*) as todayVisitorCount,
        SUM(sc) as
        todayCount
        FROM
        (
        SELECT
        *, SUM(count) sc
        FROM
        t_log t
        WHERE
        t.oper_Time BETWEEN #{todayBegin}
        AND #{todayEnd}
        GROUP BY
        t.user_Ip
        ) b
    </select>
    <select
        id="totalPathCount"
        resultType="long" useCache="false">
        SELECT
        count(1)
        FROM
        t_log
        <where>
            <if test="path != null and path!=''">
                action=#{path,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <update id="updateId">
      update t_log_copy set id=#{arg0} where log_Id=#{arg1}
    </update>
    
</mapper>