<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyc.mapper.VisitorProfileMapper">
  <resultMap id="BaseResultMap" type="com.cyc.common.po.VisitorProfile">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="cookie_enabled" jdbcType="VARCHAR" property="cookieEnabled" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="app_version" jdbcType="LONGVARCHAR" property="appVersion" />
    <result column="user_agent" jdbcType="LONGVARCHAR" property="userAgent" />
    <result column="cpu_class" jdbcType="LONGVARCHAR" property="cpuClass" />
    <result column="oscpu" jdbcType="LONGVARCHAR" property="oscpu" />
    <result column="product_sub" jdbcType="LONGVARCHAR" property="productSub" />
    <result column="user_profile" jdbcType="LONGVARCHAR" property="userProfile" />
     <result
            column="browser_Type"
            property="browserType"
            jdbcType="VARCHAR" />
        <result
            column="browser_And_Version"
            property="browserAndVersion"
            jdbcType="VARCHAR" />
        <result
            column="manufacturer"
            property="manufacturer"
            jdbcType="VARCHAR" />
        <result
            column="rendering_Engine"
            property="renderingEngine"
            jdbcType="VARCHAR" />
        <result
            column="sys_Name"
            property="sysName"
            jdbcType="VARCHAR" />
        <result
            column="operating_System"
            property="operatingSystem"
            jdbcType="VARCHAR" />
        <result
            column="sys_Manufacturer"
            property="sysManufacturer"
            jdbcType="VARCHAR" />
        <result
            column="device_Type"
            property="deviceType"
            jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ip,address,app_name, platform, product, cookie_enabled, create_time
  </sql>
  <sql id="Blob_Column_List">
    app_version, user_agent, cpu_class, oscpu, product_sub, user_profile
  </sql>
  <select id="visitors" resultMap="BaseResultMap">
    select 
    *
    from t_visitor_profile
    order by id desc;
  </select>
</mapper>